.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.next/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
haters/
# Sentry
.sentryclirc
transcripts-flagged/

test-results
.vercel
.env
.svelte-kit
.sentryclirc
# Temp
# core.wasm

start_script/target
bin

db-data