/* 
░██████╗██╗░░░██╗███╗░░██╗
██╔════╝╚██╗░██╔╝████╗░██║
╚█████╗░░╚████╔╝░██╔██╗██║
░╚═══██╗░░╚██╔╝░░██║╚████║
██████╔╝░░░██║░░░██║░╚███║
╚═════╝░░░░╚═╝░░░╚═╝░░╚══╝

████████╗░█████╗░██╗░░██╗
╚══██╔══╝██╔══██╗╚██╗██╔╝
░░░██║░░░███████║░╚███╔╝░
░░░██║░░░██╔══██║░██╔██╗░
░░░██║░░░██║░░██║██╔╝╚██╗
░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚═╝ */

/* The main css entry. Primarily used to import stuff */

/* Import all css themes */
@import-glob '../styles/base.css';
@import-glob '../styles/variables.css';
@import-glob '../styles/buttons.css';
@import-glob "../themes/*.css";
/* FYI you have to use import-glob for all of these or else it gets mad */

/* Global Utilities */
.center {
	text-align: center;
}

html::view-transition-old() {
	animation-name: -ua-view-transition-fade-out;
}

html::view-transition-new() {
	animation-name: -ua-view-transition-fade-in;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.2s;
}
