.wrapper, .header, .footer
  max-width: 1000px
  margin 0 auto
  &--text
    background white
    padding 2rem
    font-size 1.7rem
  @media (max-width: 1000px)
    padding 0 2rem

body
  background black url('/static/background.jpg')
  border-top 3px solid yellow
