// accessible way of hiding inputs and labels
.sr-only
  border 0 !important
  clip rect(1px, 1px, 1px, 1px) !important
  clip-path inset(50%) !important
  height 1px !important
  overflow hidden !important
  padding 0 !important
  position absolute !important
  width 1px !important
  white-space nowrap !important

.player
  bottom 0
  width 100%
  background black
  border-top 1px solid yellow
  color white
  display flex
  flex-wrap wrap
  position relative
  position sticky
  position -webkit-sticky
  top: -1px
  z-index 2
  // flex-wrap wrap
  &__section
    order 2
    &--left
      width 100px
      min-width 80px
      @media (max-width: 650px)
        flex 1
      & > *
        width 100%
    &--middle
      position relative
      flex 1 1 auto
      border-right 1px solid rgba(0,0,0,0.6)
      display flex
      flex-direction column
      @media (max-width: 650px)
        order 1
        width 100%
    &--right
      display flex
      @media (max-width: 650px)
        flex 2
      & > *
        width 100%
  &__icon
    font-size 2rem
    line-height 0.5
  &__title
    font-size 1.5rem
    margin 0
    flex 1 0 auto
    display flex
    align-items center
    padding-left 2rem
    max-width 650px
    @media (max-width: 650px)
      padding 1rem
  &__tooltip
    position absolute
    top 22px
    transform translate(-50%)
    opacity 0
    &:after
      content " "
      position absolute
      bottom 94%
      left 50%
      margin-left -2px
      border-width 2px
      border-style solid
      border-color transparent transparent white transparent
  button
    background black
    border 0
    color white
    padding 1rem
    border-right 1px solid rgba(0,0,0,0.6)
    outline-color yellow
  &__speeddisplay
  &__speeddisplay
    height 2.5rem
    display flex
    justify-content center
    align-items center
  &__speed
    flex 0 1 auto
    padding 1rem
    display flex
    flex-wrap wrap
    justify-content space-around
    flex-direction column
    align-items center
    & > *
      width 100%
      margin 0
    &__display
      height 2.5rem
  &__inputs
    font-size 0
  &__volume
    width 120px
    text-align center
    display flex
    flex-direction column
    justify-content space-around
    align-items center
    padding 1rem
    flex-wrap wrap
    flex 1 0 auto
    &:focus-within
      outline: yellow auto 5px;
    &:hover
      label
        border-top 1px solid yellow
    label
      border-top 1px solid green
      &:hover
        & ~ label
          border-top 1px solid black
    p
      width 100%
      margin 0
    input ~ label
      background green
      border-right 2px solid black
      display inline-block
      width 8px
      height 2.5rem
    input:checked ~ label
      background grey
    input:checked + label
      background green

.progress
  background lighten(#000,5%)
  height 2rem
  cursor crosshair
  overflow hidden
  &__time
    background green
    border-right 1px solid rgba(0,0,0,0.1)
    min-width 20px
    height 100%
    transition width 0.1s
    background grad


