.progress
  background lighten(#000,5%)
  height 2rem
  cursor crosshair
  overflow hidden

  &__time
    background green
    border-right 1px solid rgba(0,0,0,0.1)
    min-width 20px
    height 100%
    transition width 0.1s
    background grad


