/* System theme */

/* .theme-system {
	--c-bg-sheet: var(--c-white);
	--c-bg: var(--c-black);
	--c-fg: var(--c-white);
	--c-fg-sheet: var(--c-black);
	--c-primary: var(--c-yellow);
	--accent: var(--c-teal);
	--warning: var(--c-red);
	--c-bg-grit: var(--c-bg-grit-light);

	@media (prefers-color-scheme: dark) {
		--c-fg-sheet: var(--c-white);
		--c-bg-sheet: var(--c-black);
		--c-primary: var(--c-yellow);
		--accent: var(--c-teal);
		--c-black-1-accent: var(--c-yellow-1);
		--warning: var(--c-red);
		--c-bg-2: var(--c-black);
		--c-bg-1: var(--c-black);
		--c-bg: var(--c-black);
		--c-fg-1: var(--c-white);
		--c-fg-2: var(--c-black-3);
		--border: solid var(--border-size) var(--c-fg-sheet);
		--c-bg-grit: var(--c-bg-grit-dark);

		.border-on-dark {
			border: var(--border);
		}
	}
} */

/* Same as prefers color scheme dark */

/* .theme-dark {
	--c-fg-sheet: var(--c-white);
	--c-bg-sheet: var(--c-black);
	--c-primary: var(--c-yellow);
	--accent: var(--c-teal);
	--c-black-1-accent: var(--c-yellow-1);
	--warning: var(--c-red);
	--c-bg-2: var(--c-black-8);
	--c-bg-1: var(--c-black);
	--c-bg: var(--c-black);
	--c-fg-1: var(--c-white);
	--c-fg-2: var(--c-black-3);
	--border-color: var(--c-bg-sheet);
	--border: solid var(--border-size) var(--c-fg-sheet);
	--c-bg-grit: var(--c-bg-grit-dark);

	.border-on-dark {
		border: var(--border);
	}
}

.theme-light {
	--c-bg-sheet: var(--c-white);
	--c-bg: var(--c-black);
	--c-fg: var(--c-white);
	--c-fg-sheet: var(--c-black);
	--c-primary: var(--c-yellow);
	--accent: var(--c-teal);
	--warning: var(--c-red);
	--c-bg-grit: var(--c-bg-grit-light);
} */
