/* System theme */
.theme-system {
	--bg-sheet: var(--white);
	--bg: var(--blackish);
	--color: var(--white);
	--color-sheet: var(--black);
	--primary: var(--yellow);
	--accent: var(--teal);
	--warning: var(--red);
	@media (prefers-color-scheme: dark) {
		--color-sheet: var(--white);
		--bg-sheet: var(--black);
		--primary: var(--yellow);
		--accent: var(--teal);
		--warning: var(--red);
		--bg-2: var(--black);
		--bg-1: var(--black);
		--bg: var(--black);
		--color-2: var(--black-3);
		--border: solid 4px var(--color-sheet);
	}
}
/* Same as prefers color scheme dark */
.theme-dark {
	--color-sheet: var(--white);
	--bg-sheet: var(--black);
	--primary: var(--yellow);
	--accent: var(--teal);
	--warning: var(--red);
	--bg-2: var(--black);
	--bg-1: var(--black);
	--bg: var(--black);
	--color-2: var(--black-3);
	--border-color: var(--bg-sheet);
	--border: solid 4px var(--border-color);
}

.theme-light {
	--bg-sheet: var(--white);
	--bg: var(--blackish);
	--color: var(--white);
	--color-sheet: var(--black);
	--primary: var(--yellow);
	--accent: var(--teal);
	--warning: var(--red);
}
