/* .theme-hail {
	--c-bg-sheet: var(--c-white);
	--c-bg: #00274c;
	--c-fg: var(--c-white);
	--c-fg-1: var(--c-white);
	--c-black: #131516;
	--c-fg-sheet: var(--c-black);
	--c-bg-grit: var(--c-bg-grit-light);
	--c-primary: #ffcb05;
	--accent: #ffcb05;
	--warning: #9a3324;
	--success: #ffcb05;
	--line: #cfc096;
} */
