.theme-hail {
	--bg-sheet: var(--white);
	--bg: #00274c;
	--fg: var(--white);
	--fg-1: var(--white);
	--black: #131516;
	--fg-sheet: var(--black);
	--bg-grit: var(--bg-grit-light);
	--primary: #ffcb05;
	--accent: #ffcb05;
	--warning: #9a3324;
	--success: #ffcb05;
	--line: #cfc096;
}
