/* Level Up Theme */
.theme-level-up {
	background-image: none;
	--color-sheet: #ebebe3;
	--bg: #191324;
	--bg-1: #191324;
	--bg-2: #191324;
	--bg-sheet: #191324;
	--primary: #82d8d8;
	--border-color: #82d8d8;
	--border: solid 4px var(--border-color);
}
