/* .theme-sentry {
	--c-bg-sheet: var(--c-white);
	--c-bg: #2d1130;
	--c-fg: var(--c-white);
	--c-fg-1: var(--c-white);
	--c-fg-sheet: var(--c-black);
	--c-bg-grit: var(--c-bg-grit-light);
	--c-primary: #d15f7c;
	--accent: #f9dc65;
} */
