/* Trigun Theme */

.theme-trigun {
	--bg-sheet: #E5D7BA;
	--bg: #43524D;
	--bgGrit: var(--bgGritLight);
	--primary: #d15f7c;
	--accent: #f9dc65;
	--hero-gradient-1: #253535;
	--hero-gradient-2: #E5D7BA;
	--fg: #E5D7BA;
	--fg-sheet: #43524D;
}