@layer base {
	a.button {
		display: inline-block;
	}

	a.button,
	button {
		font-size: var(--fs-6);
		border-radius: var(--br-small);
		appearance: none;
		border: none;
		background: var(--c-fg);
		color: var(--c-bg);
		padding: 4px 16px;
		line-height: 1.7;
		transition: 0.2s ease background;

		&:hover {
			background: oklch(from var(--c-fg) calc(l + 0.35) c h);
		}
	}

	a.button-graphic,
	.button-graphic {
		display: flex;
		align-items: center;
		font-variation-settings: var(--fv-700-italic);
		gap: 10px;
		border-radius: var(--br-medium);
		border: solid 4px var(--c-bg);
		box-shadow:
			-5px 5px 0 var(--c-fg),
			-5px 5px 0 var(--c-fg),
			-5px 5px 0 var(--c-fg);
	}

	a.primary-ghost,
	.primary-ghost {
		background: transparent;
		color: var(--c-primary);
		border: 2px solid var(--c-primary);

		&:hover {
			background: var(--c-primary);
			color: var(--c-black);
		}
	}
}
