.theme-wrapper {
	--button-bg: var(--primary);
	--button-color: var(--yellow-8);
}

button,
.button {
	text-decoration: none;
	border: none;
	font-family: var(--body-font-familly);
	font-weight: 600;
	padding: 8px 14px;
	font-size: var(--body-font-size);
	border-radius: 4px;
	background: var(--button-bg);
	width: auto;
	color: var(--button-color);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	box-shadow: inset 0 0 0 3px oklch(var(--blacklch) / 0.2);
}

:is(button, .button).subtle {
	--button-bg: var(--black-1);
	--button-color: var(--yellow-8);
	box-shadow: inset 0 0 0 2px oklch(var(--blacklch) / 0.2);
}

:is(button, .button).big {
	font-size: var(--font-size-md);
	padding: 10px 20px;
	box-shadow: inset 0 0 0 3px oklch(var(--blacklch) / 0.2);
}

:is(button, .button).play {
	--button-bg: linear-gradient(to right, var(--green), var(--teal));
	--button-color: var(--black-8);
	font-size: var(--font-size-md);
	padding: 10px 20px;
	box-shadow: inset 0 0 0 3px oklch(var(--blacklch) / 0.2);
	transition: background-size 1s ease-in-out;
	background-size: 100%;
	&:hover {
		background-size: 200%;
	}
}
