@layer utilities {
	/* Font Sizes */
	.fs-micro {
		font-size: var(--fs-micro);
	}

	.fs-caption {
		font-size: var(--fs-caption);
	}

	.fs-body {
		font-size: var(--fs-body);
	}

	.fs-1 {
		font-size: var(--fs-1);
	}

	.fs-2 {
		font-size: var(--fs-2);
	}

	.fs-3 {
		font-size: var(--fs-3);
	}

	.fs-4 {
		font-size: var(--fs-4);
	}
	.fs-5 {
		font-size: var(--fs-5);
	}
	.fs-6 {
		font-size: var(--fs-6);
	}
	.fs-7 {
		font-size: var(--fs-7);
	}
	.fs-8 {
		font-size: var(--fs-8);
	}
	.fs-9 {
		font-size: var(--fs-9);
	}

	/* Font Variation Settings */
	.fv-100 {
		font-variation-settings: var(--fv-100);
	}

	.fv-100-i {
		font-variation-settings: var(--fv-100-italic);
	}

	.fv-400 {
		font-variation-settings: var(--fv-400);
	}

	.fv-400-i {
		font-variation-settings: var(--fv-400-italic);
	}

	.fv-500 {
		font-variation-settings: var(--fv-500);
	}

	.fv-500-i {
		font-variation-settings: var(--fv-500-italic);
	}

	.fv-600 {
		font-variation-settings: var(--fv-600);
	}

	.fv-600-i {
		font-variation-settings: var(--fv-600-italic);
	}

	.fv-700 {
		font-variation-settings: var(--fv-700);
	}

	.fv-700-i {
		font-variation-settings: var(--fv-700-italic);
	}

	.fv-800 {
		font-variation-settings: var(--fv-800);
	}

	.fv-800-i {
		font-variation-settings: var(--fv-800-italic);
	}

	.fv-900 {
		font-variation-settings: var(--fv-900);
	}

	.fv-900-i {
		font-variation-settings: var(--fv-900-italic);
	}
}
