@layer utilities {
	/* TEXT */
	.readable {
		max-width: 60ch;
		width: 100%;
	}

	.center {
		margin: 0 auto;
	}

	.text-left {
		text-align: left;
	}

	.text-center {
		text-align: center;
	}

	.text-right {
		text-align: right;
	}

	.text-justify {
		text-align: justify;
	}

	.text-start {
		text-align: start;
	}

	.text-end {
		text-align: end;
	}

	.grit {
		mask-image: url('$assets/Grit Mask@2x.png');
		mask-repeat: repeat;
		mask-size: 250px;
	}

	.hidden-mobile {
		display: none;

		@media (--below-med) {
			display: initial;
		}
	}

	.hidden-desktop {
		display: none;

		@media (--above-med) {
			display: initial;
		}
	}

	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
	}

	/* Tables */
	.table-container {
		overflow-x: auto;
		max-width: 100vw;
		outline: var(--b-medium);
		margin: 1rem 0;
	}

	.td-full {
		grid-column: 1 / -1;
	}
}
