:root {
	/* NEW SHIT */
	/* 🧑‍🚒 SHIT */

	--yellow-hue: 81.72;
	--yellow-1: oklch(99% 0.05 var(--yellow-hue));
	--yellow-2: oklch(90% 0.1 var(--yellow-hue));
	--yellow-3: oklch(83.77% 0.148 var(--yellow-hue));
	--yellow-4: oklch(72% 0.148 var(--yellow-hue));
	--yellow-5: oklch(67% 0.148 var(--yellow-hue));
	--yellow-6: oklch(50% 0.148 var(--yellow-hue));
	--yellow-7: oklch(35% 0.148 var(--yellow-hue));
	--yellow-8: oklch(25% 0.148 var(--yellow-hue));
	--yellow-9: oklch(13% 0.1 var(--yellow-hue));
	--yellow-10: oklch(5% 0.1 var(--yellow-hue));
	--yellow: var(--yellow-3);

	/* --teal: #03fff3; */
	--teal-hue: 188.71;
	--teal-1: oklch(99% 0.05 188.71);
	--teal-2: oklch(95% 0.08 188.71);
	--teal-3: oklch(90.16% 0.173 188.71);
	--teal-4: oklch(80% 0.173 188.71);
	--teal-5: oklch(70% 0.173 188.71);
	--teal-6: oklch(50% 0.173 188.71);
	--teal-7: oklch(30% 0.173 188.71);
	--teal-8: oklch(20% 0.173 188.71);
	--teal-9: oklch(13% 0.173 188.71);
	--teal-10: oklch(5% 0.173 188.71);
	--teal: var(--teal-3);

	/* --green: #cdff5c; */
	--green-hue: 124.67;
	--green-1: oklch(99% 0.05 var(--green-hue));
	--green-2: oklch(95% 0.1 var(--green-hue));
	--green-3: oklch(92.06% 0.269 var(--green-hue));
	--green-4: oklch(80% 0.269 var(--green-hue));
	--green-5: oklch(70% 0.269 var(--green-hue));
	--green-6: oklch(50% 0.269 var(--green-hue));
	--green-7: oklch(35% 0.269 var(--green-hue));
	--green-8: oklch(25% 0.269 var(--green-hue));
	--green-9: oklch(13% 0.269 var(--green-hue));
	--green-10: oklch(5% 0.269 var(--green-hue));
	--green: var(--green-3);

	/* OLD SHIT */

	--black: #000;
	--blackish: #1d1d1d;
	--purple: #362d59;
	--white: #fff;
	--red: #eb5757;

	/* Color Usage */
	/* Light Theme as the default */
	--sheet-bg: var(--white);
	--bg: var(--blackish);
	--color: var(--white);
	--sheet-color: var(--black);
	--primary: var(--yellow);
	--accent: var(--teal);
	--warning: var(--red);

	/* Typeography */
	--font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
	--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
	--font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
	--font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
	--font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
	--font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

	/* Shadow */
	--shadow-strength: 10%;
	--shadow-color: 220 40% 2%;
	--shadow-6: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
		0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
		0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
		0 12px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
		0 22px 18px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
		0 41px 33px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
		0 100px 80px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));

	--default_padding: 1rem;
}
