:root {
	/* 🧑‍🚒 💩 */

	/* NEW */

	/* BREAKPOINTS */

	@custom-media --below-small (width < 400px);
	@custom-media --below-med (width < 700px);
	@custom-media --below-large (width < 900px);
	@custom-media --below-xlarge (width < 1200px);
	@custom-media --above-small (width >400px);
	@custom-media --above-med (width > 700px);
	@custom-media --above-large (width > 900px);
	@custom-media --above-xlarge (width > 1200px);

	/* COLORS */

	/* Main Colors */
	--c-yellow: #fabf47;
	--c-teal: #00fff5;
	--c-green: #beff00;
	--c-red: #ff474e;
	--c-purple: #362d59;
	--c-black: #000;

	/* Realtive Colors */

	/* Yellow variants */
	--c-yellow-1: oklch(from var(--c-yellow) calc(l + 0.35) c h);
	--c-yellow-2: oklch(from var(--c-yellow) calc(l + 0.25) c h);
	--c-yellow-3: oklch(from var(--c-yellow) calc(l + 0.15) c h);
	--c-yellow-4: oklch(from var(--c-yellow) calc(l + 0.07) c h);
	--c-yellow-5: var(--c-yellow);
	--c-yellow-6: oklch(from var(--c-yellow) calc(l - 0.07) c h);
	--c-yellow-7: oklch(from var(--c-yellow) calc(l - 0.15) c h);
	--c-yellow-8: oklch(from var(--c-yellow) calc(l - 0.22) c h);
	--c-yellow-9: oklch(from var(--c-yellow) calc(l - 0.3) c h);
	--c-yellow-10: oklch(from var(--c-yellow) calc(l - 0.4) c h);

	/* Teal variants */
	--c-teal-1: oklch(from var(--c-teal) calc(l + 0.35) c h);
	--c-teal-2: oklch(from var(--c-teal) calc(l + 0.25) c h);
	--c-teal-3: oklch(from var(--c-teal) calc(l + 0.15) c h);
	--c-teal-4: oklch(from var(--c-teal) calc(l + 0.07) c h);
	--c-teal-5: var(--c-teal);
	--c-teal-6: oklch(from var(--c-teal) calc(l - 0.07) c h);
	--c-teal-7: oklch(from var(--c-teal) calc(l - 0.15) c h);
	--c-teal-8: oklch(from var(--c-teal) calc(l - 0.22) c h);
	--c-teal-9: oklch(from var(--c-teal) calc(l - 0.3) c h);
	--c-teal-10: oklch(from var(--c-teal) calc(l - 0.4) c h);

	/* Green variants */
	--c-green-1: oklch(from var(--c-green) calc(l + 0.35) c h);
	--c-green-2: oklch(from var(--c-green) calc(l + 0.25) c h);
	--c-green-3: oklch(from var(--c-green) calc(l + 0.15) c h);
	--c-green-4: oklch(from var(--c-green) calc(l + 0.07) c h);
	--c-green-5: var(--c-green);
	--c-green-6: oklch(from var(--c-green) calc(l - 0.07) c h);
	--c-green-7: oklch(from var(--c-green) calc(l - 0.15) c h);
	--c-green-8: oklch(from var(--c-green) calc(l - 0.22) c h);
	--c-green-9: oklch(from var(--c-green) calc(l - 0.3) c h);
	--c-green-10: oklch(from var(--c-green) calc(l - 0.4) c h);

	/* Red variants */
	--c-red-1: oklch(from var(--c-red) calc(l + 0.35) c h);
	--c-red-2: oklch(from var(--c-red) calc(l + 0.25) c h);
	--c-red-3: oklch(from var(--c-red) calc(l + 0.15) c h);
	--c-red-4: oklch(from var(--c-red) calc(l + 0.07) c h);
	--c-red-5: var(--c-red);
	--c-red-6: oklch(from var(--c-red) calc(l - 0.07) c h);
	--c-red-7: oklch(from var(--c-red) calc(l - 0.15) c h);
	--c-red-8: oklch(from var(--c-red) calc(l - 0.22) c h);
	--c-red-9: oklch(from var(--c-red) calc(l - 0.3) c h);
	--c-red-10: oklch(from var(--c-red) calc(l - 0.4) c h);

	/* Purple variants */
	--c-purple-1: oklch(from var(--c-purple) calc(l + 0.35) c h);
	--c-purple-2: oklch(from var(--c-purple) calc(l + 0.25) c h);
	--c-purple-3: oklch(from var(--c-purple) calc(l + 0.15) c h);
	--c-purple-4: oklch(from var(--c-purple) calc(l + 0.07) c h);
	--c-purple-5: var(--c-purple);
	--c-purple-6: oklch(from var(--c-purple) calc(l - 0.07) c h);
	--c-purple-7: oklch(from var(--c-purple) calc(l - 0.15) c h);
	--c-purple-8: oklch(from var(--c-purple) calc(l - 0.22) c h);
	--c-purple-9: oklch(from var(--c-purple) calc(l - 0.3) c h);
	--c-purple-10: oklch(from var(--c-purple) calc(l - 0.4) c h);

	/* Black variants */
	--c-black-1: oklch(from var(--c-black) calc(l + 0.95) c h);
	--c-black-2: oklch(from var(--c-black) calc(l + 0.85) c h);
	--c-black-3: oklch(from var(--c-black) calc(l + 0.75) c h);
	--c-black-4: oklch(from var(--c-black) calc(l + 0.65) c h);
	--c-black-5: oklch(from var(--c-black) calc(l + 0.55) c h);
	--c-black-6: oklch(from var(--c-black) calc(l + 0.45) c h);
	--c-black-7: oklch(from var(--c-black) calc(l + 0.35) c h);
	--c-black-8: oklch(from var(--c-black) calc(l + 0.25) c h);
	--c-black-9: oklch(from var(--c-black) calc(l + 0.15) c h);
	--c-black-10: oklch(from var(--c-black) calc(l + 0.05) c h);

	/* OLD */

	/* Typography */
	--body-font-family: '💪', 'Operator Mono', consolas, menlo, monaco, 'Courier New', monospace;
	--heading-font-family: '💪', 'Operator Mono', consolas, menlo, monaco, 'Courier New', monospace;
	--fs-xs: clamp(0.6rem, 0.17vw + 0.76rem, 0.7rem);
	--fs-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
	--fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--fs-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
	--fs-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
	--fs-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
	--fs-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3rem);
	--fs-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
	--fw-100: 'wght' 100;
	--fw-100-italic: 'wght' 100, 'ital' 1;
	--fw-400: 'wght' 400;
	--fw-400-italic: 'wght' 400, 'ital' 1;
	--fw-500: 'wght' 500;
	--fw-500-italic: 'wght' 500, 'ital' 1;
	--fw-600: 'wght' 600;
	--fw-600-italic: 'wght' 600, 'ital' 1;
	--fw-700: 'wght' 700;
	--fw-700-italic: 'wght' 700, 'ital' 1;
	--fw-800: 'wght' 800;
	--fw-800-italic: 'wght' 800, 'ital' 1;
	--fw-900: 'wght' 900;
	--fw-900-italic: 'wght' 900, 'ital' 1;

	/* Shadow */
	--shadow-strength: 10%;
	--shadow-color: 220 40% 2%;
	--shadow-6: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
		0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
		0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
		0 12px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
		0 22px 18px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
		0 41px 33px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
		0 100px 80px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
	--default-padding: 1rem;

	/* THEME COLORS */

	/* Light Theme as the default */

	/* Backgrounds */

	--bg: var(--black);
	--bg-1: var(--black-1);
	--bg-2: var(--black-2);
	--bg-sheet: var(--white);

	/* Foreground */
	--fg: var(--white);
	--fg-1: var(--white); /* used in header */
	--fg-2: var(--black-9); /* currently unused */
	--fg-sheet: var(--black);

	/* Interface Color */
	--primary: var(--yellow);
	--accent: var(--teal);
	--subtle-accent: var(--purple);
	--warning: var(--red);
	--success: var(--green);
	--line: var(--black-2);
	--tint-or-shade: color-mix(in oklab, var(--fg), transparent 75%);

	/* Borders */
	--brad: 5px;
	--border-size: 1.5px;
	--border: solid var(--border-size) var(--fg-sheet);

	/* ?? */
	--dark: var(--black);
	--bg-grit-light: url('/svg/grit.svg?light&count=50&w=1000&h=2000');
	--bg-grit-dark: url('/svg/grit.svg?dark&count=50&w=1000&h=2000');
	--bg-grit: var(--bg-grit-light);

	/* Hero gradient */
	--hero-gradient-1: #3a006b36;
	--hero-gradient-2: var(--black);

	/* Sentry footer gradient */
	--sentry-footer-bg: url('$assets/squiggle-greyscale.webp'),
		linear-gradient(315deg, #180d1c 0.57%, #452650 100%);
}
