.bars
  height 30px
  width 40px
  position relative

  &--paused > *
    animation-play-state paused

@keyframes sound {
  0% {
   opacity .35
   background yellow
   height 3px
 }

 100% {
  opacity 1
  background darken(yellow, 20%)
  height 28px
  }
}
