.button, a.button
  border 0
  background lightgrey
  color black
  padding 0
  line-height 1
  font-size 1.5rem
  padding 1rem
  display inline-block
  transition all 0.2s
  &:hover
    background darken(lightgrey, 3%)
  & + .button
    margin-left 1rem
  .icon
    border-right 1px solid grey
    padding-right 0.5rem
    margin-right 0.5rem

