.button,
a.button
  display inline-block
  padding 1rem
  border 0
  font-size 1.5rem
  line-height 1
  color black
  background lightgray
  transition all 0.2s
  &:hover
    background darken(lightgray, 3%)
  & + .button
    margin-left 1rem
  .icon
    margin-right 0.5rem
    padding-right 0.5rem
    border-right 1px solid gray