.header
  display flex
  color white
  flex-wrap wrap
  margin 2rem auto
  &__left
    width 30%
    text-align center
    @media (max-width: 800px)
      width 100%
  &__right
    width 70%
    display flex
    flex-direction column
    justify-content center
    @media (max-width: 800px)
      width 100%
  &__logo
    margin-left -3rem
    max-width 300px
    text-align center
    @media (max-width: 800px)
      margin-left -2rem
.title
  position relative
  &__potluck-btn
    border 1px solid yellow
    border-radius 3px
    padding 5px 10px
    position absolute
    right 0
    top 5px
    font-size 12px
    &:hover
      border 1px dotted
    @media (max-width: 1000px)
      position relative
      margin 10px 0
      text-align center
      display block
      top 0
.subscribe
  width 100%
  &__links
    margin 0
    padding 0
    display flex
    list-style none
    align-items stretch
    flex-wrap wrap
    justify-content space-between
    @media (max-width: 800px)
      justify-content space-between
    @supports (display grid)
        @media (max-width: 1000px)
          display grid
          grid-template-columns repeat(auto-fit, minmax(18em, 1fr))
          grid-gap 2rem
        @media (max-width: 800px)
          grid-gap 1rem
        @media (max-width: 670px)
          display flex
  &__link
    flex 0 1 auto
    margin-bottom 1rem
    @supports (display grid)
      margin-bottom 0
    @media (max-width: 670px)
      flex 1 1 auto
      margin-right 1rem
      margin-bottom 1rem
      @supports (display grid)
        margin-right 0
        margin-bottom 0
        @media (max-width: 670px)
          margin-right 1rem
          margin-bottom 1rem
    a
      background yellow
      display block
      color rgba(0,0,0,0.8)
      text-shadow: 1px 1px 0 rgba(255,255,255,0.2)
      box-shadow inset 0 0 0 2px rgba(0,0,0,0.05)
      font-size 1.5rem
      padding 0.7rem 1rem
      text-align center
      border-radius 3px
      font-family sans-serif
      font-weight 100
      transition all 0.2s
      display flex
      align-items center
      &:hover
        box-shadow inset 0 0 0 2px rgba(0,0,0,0.4)
      &:before
        display inline-block
        width 20px
        height 20px
        content ''
        margin-right 0.7rem
        background-size cover
        border-radius 5px
        box-shadow 0 0 0 2px rgba(0,0,0,0.05)

    &--subscribe
      @media (max-width: 1000px)
        display none
      a
        pointer-events none
        background: linear-gradient(to bottom, yellow 0%, lighten(yellow, 2%) 100%);
        text-decoration none
        &:before
          width 0
          box-shadow none
          margin 0

    &--itunes a
      background: linear-gradient(to bottom, rgb(205, 102, 246) 0%, rgb(154, 61, 209) 80%, rgb(142, 52, 201) 100%);
      &:before
        background-image  url('/static/icons/itunes.jpg')
    &--overcast a
      background: linear-gradient(to bottom, rgb(255, 138, 10) 0%, rgb(255, 105, 48) 100%);
      &:before
        background-image  url('/static/icons/overcast.jpg')
    &--rss a
      background: linear-gradient(to bottom, rgb(247, 163, 54) 0%, rgb(235, 109, 30) 96%, rgb(235, 108, 30) 100%);
      &:before
        background-image  url('/static/icons/rss.svg')
    &--stitcher a
      background: linear-gradient(to bottom, rgb(204, 213, 87) 0%, rgb(200, 208, 91) 94%);
      &:before
        background-image  url('/static/icons/stitcher.jpg')
    &--breaker a
      background: linear-gradient(105deg, rgb(0, 173, 234) 0%, rgb(21, 184, 236) 100%);
      &:before
        background-image  url('/static/icons/breaker.jpg')
    &--pocketcasts a
      background: linear-gradient(to bottom, rgb(242, 43, 36) 0%, rgb(215, 12, 11) 100%);
      &:before
        background-image  url('/static/icons/pocketcasts.jpg')
    &--googleplay a
      background: linear-gradient(to bottom, rgb(37, 187, 195) 0%, rgb(56, 215, 223) 100%);
      &:before
        background-image  url('/static/icons/googleplay.png')
        background-color white
    &--spotify a
        background: linear-gradient(to bottom, rgb(4, 160, 59) 0%, rgb(16, 172, 71) 100%);
        &:before
          background-image url('/static/icons/spotify.svg')
    &--google a
        background: linear-gradient(to bottom, rgb(245, 121, 23) 0%, rgb(254, 185, 90) 100%);
        &:before
          background-image url('/static/icons/google_podcasts.svg')
