.header
  display flex
  color white
  &__left
    width 30%
  &__right
    width 70%
    display flex
    flex-direction column
    justify-content center

.subscribe
  &__links
    margin 0
    padding 0
    display flex
    list-style none
    align-items stretch
    justify-content space-between
  &__link
    flex 0 1 auto
    a
      background yellow
      display block
      color rgba(0,0,0,0.6)
      text-shadow: 1px 1px 0 rgba(255,255,255,0.2)
      box-shadow inset 0 0 0 2px rgba(0,0,0,0.1)
      font-size 1.5rem
      padding 0.7rem 1rem
      text-align center
      border-radius 3px
      font-family sans-serif
      font-weight 100
      transition all 0.2s
      display flex
      align-items center
      &:hover
        box-shadow inset 0 0 0 3px rgba(0,0,0,0.2)
      &:before
        display inline-block
        width 20px
        height 20px
        content ''
        margin-right 0.7rem
        background-size cover
        border-radius 5px
        box-shadow 0 0 0 2px rgba(0,0,0,0.05)

    &--subscribe
      a
        pointer-events none
        background: linear-gradient(to bottom, yellow 0%, lighten(yellow, 2%) 100%);
        text-decoration none
        &:before
          width 0
          box-shadow none
          margin 0

    &--itunes a
      background: linear-gradient(to bottom, rgb(205, 102, 246) 0%, rgb(154, 61, 209) 80%, rgb(142, 52, 201) 100%);
      &:before
        background-image  url('/static/icons/itunes.jpg')
    &--overcast a
      background: linear-gradient(to bottom, rgb(255, 138, 10) 0%, rgb(255, 105, 48) 100%);
      &:before
        background-image  url('/static/icons/overcast.jpg')
    &--rss a
      background: linear-gradient(to bottom, rgb(247, 163, 54) 0%, rgb(235, 109, 30) 96%, rgb(235, 108, 30) 100%);
      &:before
        background-image  url('/static/icons/rss.svg')
    &--stitcher a
      background: linear-gradient(to bottom, rgb(204, 213, 87) 0%, rgb(200, 208, 91) 94%);
      &:before
        background-image  url('/static/icons/stitcher.jpg')
    &--breaker a
      background: linear-gradient(105deg, rgb(0, 173, 234) 0%, rgb(21, 184, 236) 100%);
      &:before
        background-image  url('/static/icons/breaker.jpg')




