.header
  display flex
  color white
  &__left
    width 30%
  &__right
    width 70%
    display flex
    flex-direction column
    justify-content center

.subscribe
  &__links
    margin 0
    padding 0
    display flex
    list-style none
    & > *
      flex 1 0 auto
