.wrapper,
.header,
.footer
  max-width: 1000px
  margin 0 auto
  &--text
    padding 2rem
    font-size 1.7rem
    background white
  @media (max-width: 1000px)
    padding 0 2rem

body
  border-top 3px solid yellow
  background black url('/static/background.jpg')