.live-wrap
  color white
  text-align: center

.live__callin-btn
    border 1px solid yellow
    border-radius 3px
    padding 5px 10px
    font-size 18px
    &:hover
      border 1px dotted

.live__callin-callout
  background: rgba(255,255,255,0.07)
  padding: 20px
  p
    font-size: 18px
  .live__callin-alert
    margin-top: 0
    font-size: 24px