.person
  background rgba(255,255,255,0.07)
  padding 1rem
  width 48%
  @media (max-width: 800px)
    width 100%
    margin-bottom 1rem

  p
    margin-bottom 0

  h3
    margin 0
    font-size 2rem

    em
      font-size 1rem
