.player
  bottom 0
  width 100%
  background black
  border-top 1px solid yellow
  color white
  display flex
  &__section
    &--middle
      flex 1 0 auto
      border-right 1px solid rgba(0,0,0,0.6)
      display flex
      flex-direction column
    &--right
      display flex
      & > *
        width 100%
  &__icon
    font-size 2rem
    line-height 0.5
  &__title
    font-size 1.5rem
    margin 0
    flex 1 0 auto
    display flex
    align-items center
    padding-left 2rem
  button
    background black
    border 0
    color white
    padding 1rem
    border-right 1px solid rgba(0,0,0,0.6)
  &__speed
    flex 0 1 auto
    padding 1rem
    display flex
    flex-wrap wrap
    justify-content center
    align-items center
    & > *
      width 100%
    &__display
      height 2.5rem
  &__volume
    width 200px
    text-align center
    display flex
    justify-content center
    align-items center
    padding 1rem
    flex-wrap wrap
    flex 1 0 auto
    input
      display inline
    p
      width 100%
      margin 0
    input ~ label
      background green
      border-right 2px solid black
      display inline-block
      font-size 0
      width 8px
      height 2.5rem
    input:checked ~ label
      background grey

.progress
  background lighten(#000,5%)
  height 2rem
  cursor crosshair
  overflow hidden
  &__time
    background green
    border-right 1px solid rgba(0,0,0,0.1)
    min-width 20px
    height 100%
    transition width 0.1s
    background: linear-gradient(30deg, #d2ff52 0%, green 100%);


