.reddit
    width 80px
    margin 3rem 5rem 2rem 8rem
    margin-top -1rem
    font-size 1.4rem
    height 20px
    text-align center
    background rgba(255,255,255,0.07)
    @media (max-width: 800px)
      width 100%
      background none
      margin 1.5rem 0 1.5rem -2rem
    