figure

figcaption
  font-size 10px
  text-align right

.wrapper--text
  ul, ol
    list-style square
  strong
    font-weight 900
  h1
    font-size 50px
    margin-top 0
    margin-bottom 0
  h2
    font-size 40px
  h1,h2
    padding-bottom 10px
    border-bottom 2px solid yellow
  a
    color black
    border-bottom 1px solid yellow