@font-face {
  font-family: 'rad';
  src:  url('/static/fonts/Radnika-Bold.woff2') format('woff2'),
        url('/static/fonts/Radnika-Bold.woff') format('woff');
}

h1,h2,h3,h4,h5,h6
  font-family 'rad'
  font-weight 100

body
  color black

.tagline
  font-size 2.5rem
  margin 0
