@font-face
  font-family '💪'
  src url('/static/fonts/Radnika-Bold.woff2') format('woff2'), url('/static/fonts/Radnika-Bold.woff') format('woff')

@font-face
  font-family 'rad'
  src url('/static/fonts/Radnika-Light.woff2') format('woff2'), url('/static/fonts/Radnika-Light.woff') format('woff')

h1,
h2,
h3,
h4,
h5,
h6
  font-family '💪'
  font-weight 100

html
  font-size 10px

body
  font-family 'rad'
  line-height 1.5
  color black

li
  line-height 1.7

a
  text-decoration none
  color yellow

.tagline
  margin 0
  font-size 2.5rem
  @media (max-width: 1000px)
    text-align center
  @media (max-width: 800px)
    font-size 1.5rem
