yellow = #F1C15D
black = #1d1d1d
grey = #e4e4e4
gray = grey // 🇨🇦
grey2 = #4b4747
gray2 = grey2 // 🇨🇦
grey3 = #666666
gray3 = grey3 // 🇨🇦
lightgrey = #f9f9f9
lightgray = lightgrey
green = #03fff3
newgrey =  #645555


grad = linear-gradient(30deg, #d2ff52 0%, green 100%);
