yellow = #F1C15D
black = #1d1d1d
grey = #e4e4e4
gray = gray // 🇨🇦
grey2 = #848484
gray2 = grey2 // 🇨🇦
lightgrey = #f9f9f9
lightgray = lightgrey
green = #03fff3


grad = linear-gradient(30deg, #d2ff52 0%, green 100%);
