:root {
    --yellow: #f1c15d;
    --lightyellow:#f1c260; /*lighten(var(--yellow), 2%);*/
    --darkyellow: #eca920; /*darken(var(--yellow), 20%);*/
    --black: #1d1d1d;
    --gray20: #4a4a4a /*lighten(var(--black), 20%); */
    --darkgray: #0d0d0d; /*lighten(#000, 5%);*/
    --grey: #e4e4e4;
    --gray: var(--grey);
    --grey2: #4b4747;
    --gray2: var(--grey2);
    --grey3: #666666;
    --gray3: var(--grey3);
    --lightgrey: #f9f9f9;
    --lightgray: var(--lightgrey);
    --lightgreydarker: #f2f2f2; /* darken(var(--lightgrey), 3%);*/
    --green: #03fff3;
    --newgrey: #645555;

    --grad: linear-gradient(30deg, #d2ff52 0%, var(--green) 100%);
}
