@import '_normalize.styl'
@import '_variables.styl'
@import '_type.styl'
@import '_layout.styl'
@import '_header.styl'
@import '_person.styl'
@import '_player.styl'
@import '_bars.styl'

html
  font-size 10px

body
  background black url('/static/background.jpg')
  border-top 3px solid yellow

a
  color yellow
  text-decoration none

.show-wrap
  background white
  display flex
  flex-wrap wrap

.showList
  width 38%
  display flex
  flex-direction column

.show
  border-right 1px solid grey
  border-bottom 1px solid grey
  border-left 10px solid grey
  background lightgrey
  position relative
  display flex
  a
    flex 1 1 auto
    padding 10px
  &__playcontrols
    display flex
    align-items center
    justify-content center
    width 5rem
    padding 1rem
    button
      background none
      border 0
      &:hover
        color yellow
  &--dummy
    flex 1 0 auto
  &--active
    border-right-color white
    background white
    border-left 0
    padding-left 1rem
    &:before
      display block
      background grad
      width 10px
      height 100%
      content ''
      position absolute
      top 0
      left 0
  &__displayNumber
    text-transform uppercase
    color green
    margin 0
    color grey2
  &__title
    color black
    font-size 1.5rem
    margin 0

.showNotes
  padding 2rem
  padding-left 7rem
  width 62%
  font-size 1.5rem
  max-height 800px
  overflow scroll
  h1,h2,h3,h4,h5,h6
    font-family 'courier'
    font-weight 100
    &:before
      padding-right 1rem
  pre
    background lightgrey
    padding 1rem
  h1,h2
    margin-left -4rem
    font-size 2.5rem
    &:before
      content '##'
