name: Bump package.json version

on:
  push:
    branches: [main]

jobs:
  update-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Bump
        uses: tool3/bump@master
        with:
          branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
          user: 'github-actions[bot]'
          email: 'github-actions[bot]@users.noreply.github.com'
